:root {
  --main: #8b000da8;
  --boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4,
.h4 {
  color: var(--main) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  height: 5px;
  background-color: grey;
  opacity: 50%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--main);
  background-position: center bottom, center -40px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  border-radius: 10px;
}

/* .container-fluid {
  -webkit-animation: gradient 30s ease infinite !important;
   animation: gradient 5s ease infinite !important;
   background-size: 150% !important;
   height: 100vh !important;
   justify-content: center;

} */
.row {
  display: flex;
}

.welcome_title {
  left: 155px;
  font-size: 30px;
  z-index: 3;
}

.navbar_item {
  color: #909da1;
  font-size: 18px;
  padding-right: 25px;
  width: 10px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navbar_item_container {
  /* margin: 35px 50px; */
  cursor: pointer;
  display: block;
}

.menu_main_title {
  display: inline;
  position: absolute;
  top: 123px;
  left: 277px;
  z-index: 3;
}

.home_title {
  /* font-weight: 300;
  font-family: "Arial Black";
  font-size: 30px; */
  display: inline;
  position: absolute;
  top: 100px;

  /* background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite; */
  /* color: #fff;
   font-size: 8em;
   position: absolute;
   transform: translate(-50%, -50%); */
}

.welcome_title:nth-child(1) {
  color: black;
}

.welcome_title:nth-child(2) {
  animation: animate 4s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  color: black;
}

.name_title:nth-child(3) {
  color: black;
}

.name_title:nth-child(4) {
  animation: animate 4s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.name_title {
  font-size: 30px;
  z-index: 3;
  left: 295px;
}

.menu_container {
  height: 80vh;
  z-index: 3;
  margin-top: 100px;
  filter: blur(0px) !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home_container {
  padding: 170px 130px;
  height: 100vh;
  position: absolute;
  width: 83%;
  top: 50px;
  z-index: 3;
  /* margin-top: -45px; */
  filter: blur(0px) !important;
}

.fullscreen_msg {
  display: none;
}

.home_inner_fluid {
  height: 100%;
  z-index: 3;
}

.home_inner_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 3;
}

@media only screen and (max-width: 1225px) {
  .home_left {
    width: 100% !important;
  }

  .home_right {
    display: none;
  }

  .home_content {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .assignments_container {
    overflow-y: hidden !important;
  }
}

@media only screen and (max-width: 800px) {
  .fullscreen_msg {
    display: block !important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.home_left {
  width: 60%;
}

.home_right {
  width: 40%;
  height: 105%;
  padding: 10px;
  z-index: 3;
}

.home_left_top {
  width: 100%;
  height: 60%;
  padding: 10px;
  z-index: 3;
}

.home_left_bottom {
  height: 45%;
  display: flex;
  flex-direction: row;
  z-index: 3;
}

.home_left_bottom_right {
  width: 50%;
  height: 100%;
  padding: 10px;
  z-index: 3;
}

.home_left_bottom_left {
  width: 50%;
  height: 100%;
  padding: 10px;
  z-index: 3;
}

.home_right {
  width: 40%;
  height: 105%;
  padding: 10px;
  z-index: 3;
}

.home_content {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  z-index: 3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: 10px 5px 5px grey; */
}

.assignments_home {
}

.content_title {
  font-weight: bold;
  font-size: 20px;
  color: black;
  left: 1000%;
  top: 400px;
}

/* .container-fluid{
  z-index: 3;
  overflow: hidden;

} */

.hr {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 10px;
  z-index: 3;
}

.assignments_content {
  font-weight: 100 !important;
  font-size: 15px;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.assignments_container {
  display: grid;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  height: 70px !important;
  z-index: 3;
  border: 2px solid var(--main);
  margin-left: 20px;
  margin-top: 10px;
  grid-template-areas:
    "time assignments checkbox"
    "time detail checkbox";
  grid-template-columns: 14% 70% 16%;
}

.gap {
  margin: 100px;
}

.bottom {
  border-left: 3px solid orange;
  z-index: 3;
}

.arrow_container {
  text-align: center;
  transform: translateY(38%);
  z-index: 3;
}

.assignments_all_container {
  overflow-y: hidden;
}

.down_arrow {
  font-size: 30px;
  z-index: 3;
}

.assignments_assignments {
  font-size: 16px !important;
  z-index: 3;
  margin-left: 20px;
  padding-top: 10px;
}

.assignments_detail {
  font-size: 10px !important;
  margin-left: 20px;
  z-index: 3;
}

.assignments_container_time_2 {
  border-right: 1px solid black;
  margin-bottom: 40px;
  margin-top: -80px;
  margin-left: 15px;
  width: 14%;
  z-index: 3;
}

.assignments_assignments_2 {
  font-size: 15px !important;
  transform: translateX(17%);
  margin-top: -56px;
  z-index: 3;
  margin-left: 13px;
}

.assignments_detail_2 {
  font-size: 10px !important;
  transform: translateY(50%);
  margin-left: 105px;
  z-index: 3;
}

.color_picker {
  width: 150px;
  background-color: white;
  position: absolute;
  height: 70px;
  border-radius: 10px;
  right: 5px;
  bottom: 40px;
}

.pickers_grid {
  display: grid;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 75px;
  z-index: 1;
}

/* .theme_popup{
  right: 70px;
  bottom: 20px;
} */

.theme_button {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--main);
}

.popup {
}

.color_button {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  z-index: 3;
  position: absolute;
  right: 50px;
  float: right;
  bottom: 0;
  right: 0;
}

.color_option {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: none;
  margin: 9px 9px 5px 8.5px;
  cursor: pointer;
  z-index: 1000 !important;
  float: center;
  line-height: 10px;
  font-size: 100px;
  justify-content: center;
  text-align: center;
}

.color_option:hover {
  border: 2px solid white;
}

.option_1 {
  background-color: black;
  background-image: none;
}

.option_2 {
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.option_3 {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.option_4 {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.theme_1 {
  background-color: #8b000da8;
}

.theme_2 {
  background-color: maroon;
}

.theme_3 {
  background-color: #000000;
}

.theme_4 {
  background-color: #cdb4db;
}

.color_option_custom {
  margin: 0 auto;
  text-align: center;
  float: center;
  font-size: 10px;
  transform: translate(35%);
  border: none;
  font-family: "Varela Round";
  border-radius: 50px;
}

.modal-content {
  border-radius: 10px;
  height: 3000%;
}

.colorpickergap {
  margin-top: 10px;
}

.bgselect1container {
  margin-right: 0px;
  display: inline;
  float: right;
}

.wrapper {
  display: grid;
  grid-template-columns: 220px 220px;

  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  justify-content: center;
}

.current_block {
  font-weight: 500 !important;
}

.big_block_container {
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 0px;
}

.current_block_name {
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

.block_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: none;
  color: black;
  font-weight: 900;
  grid-template-rows: 300% 300%;
  transform: translateY(70px);
}

@media only screen and (max-width: 600px) {
  .block_wrapper {
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: none;
  }
}

.content_box {
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  bottom: 0;
}

.grade_title {
  font-weight: 900;
  font-family: "Varela Round";
  margin-bottom: 5px;
}

.grade_container {
  display: grid;
  grid-template-rows: auto;
  font-size: 15px;
  color: black;
  overflow-y: scroll;
  height: 130px;
  padding-right: 10px;
}

.grade_content_format {
  display: grid;
  grid-template-columns: 100% 50%;
  left: 0;
  padding-right: 20px;
  margin-bottom: 10px;
}

.grade_inner_content {
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 3;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover {
  transform: scale(1.5);
}

.class_1 {
  border-left: 3px solid lightcoral;
  padding-left: 5px;
}

.class_2 {
  border-left: 3px solid lightsalmon;
  padding-left: 5px;
}

.class_3 {
  border-left: 3px solid yellow;
  padding-left: 5px;
}

.class_4 {
  border-left: 3px solid lightgreen;
  padding-left: 5px;
}

.class_5 {
  border-left: 3px solid lightskyblue;
  padding-left: 5px;
}

.class_6 {
  border-left: 3px solid lightpink;
  padding-left: 5px;
}

.news_menu_grid {
  display: grid;
  grid-template-columns: 60px 60px;
}

.news_container {
  display: grid;
  background-color: white;
  color: white;
  overflow-y: auto;
  height: 200px !important;
  z-index: -1 !important;
  padding: 0 !important;
}

.home_menu_container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  float: left;
  text-align: left;
  width: 100%;
  height: 90%;
}

.news_title_1 {
  background-color: inherit;
  border: none;
}

.home_menu_title_1 {
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: grey;
  margin-top: 5px;
}

.news_title_2 {
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: grey;
  margin-top: 5px;
}

.home_menu_title_2 {
  background-color: inherit;
  border: none;
}

.news {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 12px;
}

.news_heading {
  font: "Nuntio", sans-serif !important;
  padding-top: 8px;
  padding-left: 10px;
  font-weight: 600;
  margin-bottom: 0;
}

.news_content {
  font-family: "Lato";
  font-size: 13px;
  padding: 0px 10px 20px 10px;
}

.big_container {
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-family: "Varela Round";
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .navbar_style {
    width: 300px;
  }
}

.navbar_style {
  height: 100vh;
  background-color: #f8f9faa3 !important;
  color: black;
  display: grid;
  /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)); */
  justify-content: center;
  grid-template-rows: 10% 80% 10%;
  align-items: center;
  width: 100%;
}

.navbar3_content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  /* justify-content: center;
  align-items: center; */
  height: 50%;
  margin-left: 10%;
}

.grid-item {
  display: grid;
  grid-template-columns: 30% 70%;
  color: black;
  font-family: "Varela Round";
}

.lc_logo {
  margin: 0 !important;
  padding: 0 !important;
}

/* .container{
  font-size: 100px;
  width: 500px;
} */

/* .logout{
  bottom: 10px;
  left: 40px;
  position: absolute;
} */

.grade_page_container > .class_1 {
  animation: none;
}

.calendar_page_container {
  width: 85%;
  background-color: white;
  padding: 30px;
}

.grade_page_title {
  display: inline;
  position: absolute;
  top: 123px;
  left: 277px;
  z-index: 3;
}

.grade_inner_container {
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 3;
}

.schedule_inner_container {
  background-color: white;
  height: 80%;
  width: 85%;
  border-radius: 10px;
  padding: 20px;
  z-index: 3;
  font-family: "Varela Round", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

table {
  padding: none;
  width: 95%;
  margin-left: 20px !important;
  margin: 10px;
  text-align: center;
}

th {
  background-color: rgba(128, 0, 0, 0.396);
  color: black;
  padding: 10px;
  padding-left: 20px;
  width: auto;
}

td {
}

.news_content_title {
  font-weight: 600;
  margin-left: 5px;
}

.class_grade {
  display: inline;
  justify-content: right;
  width: 20px;
}

.class_0 {
  border-left: 3px solid lightcoral;
  padding-left: 5px;
}

.menu_title {
  font-size: 50px;
  position: absolute;
  float: top;
}

.menu_inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.menu_flex_container {
  width: 90%;
  height: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.athletics_table {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.menu_view_grid {
  display: inline-block;
  grid-template-columns: 20px 20px;
  font-size: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-left: auto;
}

.menu_icon {
  display: inline;
  background: none;
  border: 0px;
}

.menu_icon_hover_1:hover {
  background-color: var(--main);
  border-radius: 10px;
}

.menu_icon_hover_1 > button:active {
  background-color: var(--main);
  border-radius: 10px;
}

.menu_icon_hover_2:hover {
  background-color: var(--main);
  border-radius: 10px;
}

.menu_content {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  width: 33%;
  box-shadow: var(--boxShadow);
  margin-right: 20px;
  padding: 20px;
}

/* .menu_carousel_container{

  height: 100%;
  width: 994.88px;
  transform: translateX(35%);
  padding: 40px;
} */

.menu_carousel_container_sub {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
}

.menu_scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
}

.meal_title {
  margin-top: 15px;
  font-size: 20px;
  padding-bottom: 10px;
  height: 40px;
  width: fit-content;
  font-weight: 600;
}

.meal_content {
  text-align: left;
  font-weight: bold;
  color: black;
}

.meal_content_home {
  text-align: left;
  font-weight: bold;
  color: black;
  border-radius: 10px;
}

.meal_content_details {
  margin-bottom: 10px;
}

.meal_content_details_home {
  margin-top: 5px;
  margin-bottom: 10px;
}

.grade_page_grade_class {
  border: 3px solid lightcoral;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 5px;
  justify-content: space-between;
  display: flex;
}

.compartment {
  position: relative;
  margin: 0 auto;
  max-width: 73.75em;
  max-width: 73.75rem;
}

.assignments_all_container {
  height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.assignments_big_title {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.assignments_page_big_container {
  height: 500px;
}

.assignments_page_container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
}

.assignments_title {
  font-size: 15px;
  padding-top: 10px;
  margin-left: 10px;
}

.assignments_page_container {
}

.assignments_page_container_time {
  border-right: 1px solid black;
  padding-top: 20px;
  margin-left: 10px;
  font-size: 15px !important;
  grid-area: time;
}

.assignments_page_assignments {
  /* font-size: 15px !important;
  margin-top: -100px;
  transform: translateX(17%);
  z-index: 3;
  margin-left: 0px;
  font-size: 15px; */
  grid-area: assignments;
  margin-left: 10px;
  font-size: 23px;
}

.assignments_page_detail {
  font-size: 15px !important;
  margin-top: 5px;
  z-index: 3;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 500;
  grid-area: detail;
  margin-left: 10px;
}

.assignments_checkbox {
  margin-right: 30px;
  grid-area: checkbox;
  text-align: right;
}

.home_calendar .rbc-toolbar {
  display: none;
}

.home_column {
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.home_column_left {
  width: 15%;
  padding-left: 0;
  padding-right: 0;
}

.home_column_center {
  width: 60%;
  height: 100%;
}

.home_column_right {
  width: 40%;
  height: 100%;
}

.home_hi {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.home_center_top {
  background-color: white;
  width: 90%;
  height: 50%;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home_center_bottom {
  background-color: white;
  width: 90%;
  height: 30%;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home_right_top {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 30%;
  border-radius: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  padding: 25px;
  margin-left: 20px;
  margin-right: 45px;
  overflow: auto;
}

.home_right_bottom {
  height: 50%;
  width: 100%;
}

.home_menu_title {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .row {
  }

  /* .navbar_style{
    height: 200px;
    width: 100%;
    display: flex;
  }
  .navbar3_content{
    display: flex;
    align-items: center;
    margin-left: 200px;
  } */
  .home_column_left {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .menu_inner_container {
    justify-content: flex-start;
    margin-top: 50px;
  }

  .menu_flex_container {
    flex-direction: column;
  }

  .menu_content {
    width: 100%;
    margin-bottom: 40px;
  }
  .home_column_left {
    height: 60px;
  }
  .home_column_center {
    width: 100%;
  }
  .home_column_right {
    width: 100%;
    height: 100%;
  }
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
  font-size: 16px;
}
